.nav {
	margin-top: 50px;
	height: 82px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 122px;
}

.logo {
	width: 156px;
}
/* Скрыть горизонтальное меню и показать гамбургер-иконку на мобильных устройствах */



