.serviceSection {
  margin-top: 162px;
  text-align: center;
}
.service__wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.service__descr {
	margin-left: 149px;
	padding-top: 40px;
	width: 50%;
	text-align: left;
}
.service__offers {
	list-style-type: none;
	padding-left: 0;
	width: 65%;
}
.service__list {
	margin: 24px 0;
	display: flex;
	justify-content: space-between;
	color: #182963;
	cursor: pointer;
	text-decoration: none;
}
.arrow {
	height: 40px;
	width: 40px;
	cursor: pointer;
}
@media only screen and (max-width: 425px) {
	.service__wrapper{
		flex-direction: column;
	}
	.service__descr{
		width: 100%;
		margin-left: 0;
		padding-top: 0;
	}
	.mobile-no-break {
    display: inline; /* Убирает эффект блочного элемента, предотвращая перенос */
  }
	.service__offers{
		margin-top: 24px;
		width: 100%;
	}
	.service__list{
		align-items: center;
		margin: 4px 0;
	}
	.arrow{
		width: 30px;
		height: 30px;
	}
}