.about {
  margin-bottom: 30px;
}
.about__header {
  text-align: center;
  transform: translateX(10%); /* Сместить назад на 10% для коррекции на 60/40 */
  /* Остальные стили */
}
.about__descr {
  width: 418px;
  margin: 0 auto;
  margin-top: 12px;
  transform: translateX(25%); /* Сместить назад на 10% для коррекции на 60/40 */
}
.about__subtitle {
  width: 418px;
  margin: 0 auto;
  margin-top: 24px;
  transform: translateX(25%); /* Сместить назад на 10% для коррекции на 60/40 */
  color: var(--Main-blue, #182963);
}
.about__name {
  color: var(--Primary-color, #12a6c8);
  text-align: right;
}
.about__values {
  text-align: center;
  margin-top: 160px;
}
.values__wrapper {
  display: flex;
  margin-top: 40px;
  gap: 20px;
}
.valueBlock {
  text-align: start;
  padding: 20px;
}
.value__title__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.value__title {
  color: var(--Main-blue, #182963);
}
.about__team {
  margin-top: 160px;
  text-align: center;
}
.team__descr {
  text-align: start;
  width: 420px;
  margin-top: 12px;
}
.team__section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-between;
}
.team__img {
  margin-bottom: 24px;
  width: 310px;
  height: 100%;
  border-radius: 20px;
  background: #edf8fe;
  max-width: 100%; /* Чтобы изображение не выходило за границы контейнера */
  height: auto;
	object-fit: cover;
}
.mobile-only-btn {
  display: none;
}
@media only screen and (max-width: 425px) {
  .about__header {
    transform: none;
  }
  .about__descr {
    transform: none;
    width: 100%;
    padding: 0 0 0 5px;
  }
  .about__subtitle {
    transform: none;
    width: 100%;
  }
  .mobile-only-btn {
    display: block;
    margin: 40px auto -10px auto;
    width: 288px;
    text-align: center;
  }
  .values__wrapper {
    margin-top: 16px;
    flex-direction: column;
  }
  .team__descr {
    margin-top: 0;
    width: 100%;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  .about__team {
    margin-bottom: 60px;
  }
  .team__img {
    margin-bottom: 12px;
    width: 136px;
    height: 184px;
    border-radius: 20px;
    background: #edf8fe;
    /* height: auto;		 */
    
  }
	.teamMember{
		margin-bottom: 24px;
	}
	
  .teamMember_position {
    font-size: 16px;
    line-height: 22px;
  }
}
