.approach{
	display: flex;
}
.approach__wrapper {
  width: 50%;
}
.approach__title {
  margin-bottom: 45px;
}
.img2{
	margin-top: -5%;
}
@media only screen and (max-width: 425px) {
	.approach{
		flex-direction: column;
	}
	.approach__wrapper{
		width: 100%;
		position: relative;
	}
  .approach__title {
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
		margin-bottom: 24px;
  }
	
}
